table 
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td 
{
  padding: 12px;
  text-align: center;
}

th 
{
  background-color: #f2f2f2;
}

td 
{
  border-bottom: 1px solid #ddd;
}

input[type="number"] 
{
  width: 40px;
  height: 30px;
  text-align: center;
  -moz-appearance: textfield; /* pour Firefox */
}

.moyenne-column 
{
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
{
-webkit-appearance: none;
margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
{
-webkit-appearance: none;
margin: 0;
}
