<h3>Notes des modules</h3>
<p>Cliquez sur le + pour ajouter un module, inscrivez son N° puis son titre et la note que vous avez obtenu. Vous pouvez supprimer une entrée grâce à la poubelle.</p>
<button mat-button (click)="openDialog()">Ajouter une ligne</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- N° Module Column -->
    <ng-container matColumnDef="moduleNumber">
        <th mat-header-cell *matHeaderCellDef> N° Module </th>
        <td mat-cell *matCellDef="let element"> {{element.moduleNumber}} </td>
    </ng-container>

    <!-- Module Title Column -->
    <ng-container matColumnDef="moduleTitle">
        <th mat-header-cell *matHeaderCellDef> Titre du Module </th>
        <td mat-cell *matCellDef="let element"> {{element.moduleTitle}} </td>
    </ng-container>

    <!-- Module Note Column -->
    <ng-container matColumnDef="moduleNote">
        <th mat-header-cell *matHeaderCellDef> Note du Module </th>
        <td mat-cell *matCellDef="let element"> {{element.moduleNote}} </td>
    </ng-container>

    <!-- Delete Button Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteRow(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>