table 
{
  width: 100%;
  border-collapse: collapse;
  margin-top: 25px;
  box-shadow: none;
  border: 1px solid #ddd;
}


h3
{
  color: #0D426E;
  margin-left: 20px;
}

p
{
  color: #004170;
  margin-left: 20px;
}

th, td 
{
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

th 
{
  background-color: #f2f2f2;
}

td 
{
  border-bottom: 1px solid #ddd;
}

input[type="number"] 
{
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  -moz-appearance: textfield; /* pour Firefox */
}

.moyenne-column 
{
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
{
-webkit-appearance: none;
margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
{
-webkit-appearance: none;
margin: 0;
}

.v_ligne {
  border-right: 1px solid #ddd;
}
.branche {
  text-align: left;
}

.moyenne {
  font-weight: bold;
}