table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #e0e0e0;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  td {
    background-color: #e6f7ff;
  }

  h3
{
  color: #0D426E;
  margin-left: 20px;
}

p
{
  color: #004170;
  margin-left: 20px;
}